

:root {
    --form-background-color: #f2f2f7;
    --pokemon-card-background-color: #F0F3FF;
    --black-color: #2c2c2c;

    --border-radius-small: .35rem;
    --border-radius-medium: .7rem;
    --border-radius-big: 1rem;

    --padding-small: .5rem;
    --padding-medium: .75rem;
    --padding-big: 1rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black-color);
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
    padding: var(--border-radius-big);
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: 1.25rem;
}

.navigation__option {
    border-radius: var(--border-radius-small);
    padding: var(--padding-small);
    font-weight: bold;
}

.navigation__option:hover {
    background-color: var(--form-background-color);
}


main {
    width: clamp(300px, 80%, 1300px);
    margin-block: 2rem;
    margin-inline: auto;
}

.search-form {
    background-color: var(--form-background-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.search-form__input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;

    flex: 1;
}

.search-form__button {
    background-color: #ffcc03;
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--padding-small);
    font-weight: bold;

}

.cards-container {
    list-style-type: none;
    
    display: grid;
    margin-inline: auto;

    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-block: 2rem;

}

.card {
    background-color: var(--pokemon-card-background-color);
    border-radius: var(--border-radius-small);
    padding: var(--padding-big);
    position: relative;
    border-radius: var(--border-radius-big);

    font-weight: bold;

}

.card__header {
    display: flex;
    justify-content: space-between;
}

.card__type {/*Inside card header*/
    color: #11B047;
    margin-right: auto;
}

.card__id {/*Inside card header*/
    display: inline-block;
    margin-left: auto;

}

.card__title {
    text-align: center;
    display: block;
}


.card__img-wrapper{
    width: 100%;
    overflow: hidden;
}

.card__img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.pagination {
    list-style-type: none;

    display: flex;
    justify-content: center;
    gap: .5rem;
}


.pagination__link--active {
    background-color: #ffcc03;
}

.pagination__link--disabled {
    color: var(--black-color);
    opacity: 30%;
}


.pagination__link {
    text-decoration: none;
    
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    font-weight: bold;
}

